/* Google Font for all text */
html {
	font-family: "Heebo", Helvetica, sans-serif;
	height: 100%;
	width: 100%;
}

/* Body */
body {
	font-family: "Heebo", Helvetica, sans-serif;
	height: 100%;
	width: 100%;
	background-color: #709b7a;
}
.body-index {
	background-image: url("/static/images/skyline.png");
	background-position: bottom;
	background-repeat: repeat-x;
	background-attachment: fixed;
}
.body-wrap {
	min-height: 100%;
	min-width: 100%;
	margin-bottom: -42px;
	display: flex;
	align-items: center;
}

/* Footer */
footer {
	width: 100%;
	height: 42px;
	background-color: #5E7A65;
	color: rgba(255,255,255,.75);
	font-size: 0.75em;
}
.footer-link {
	color: rgba(255,255,255,.75);
	text-decoration: underline;
}
.footer-link:hover {
	color: rgba(255,255,255,.75);
}

/* Search menu item */
.ui-menu-item {
	font-family: "Heebo", Helvetica, sans-serif;
}
.ui-autocomplete {
	padding-top: 10px;
}

/* Navbar */
nav {
	font-family: "Heebo", Helvetica, sans-serif;
	-webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
	box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}
#tax-navbar {
	background-color: #5E7A65;
}
.tax-submit {
	color: white;
	border-color: white;
}
.tax-submit:hover {
	background-color: rgba(255,255,255,0.3);
	border-color: white;
}
#tax-collapse {
	border-color: transparent;
}
.nav-link-style {
	color: white !important;
}
.nav-link-style:hover {
	color: white !important;
	text-decoration: underline !important;
}

/* Centering content */
.center-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 8%;
	padding-bottom: 8%;
	width: 100%;
}
@media (max-width: 992px) {
	.center-content {
		padding-top: 5em;
		padding-bottom: 5em;
	}
}
.center-small {
	width: 70%;
}

/* Index */
.index-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.index-interior {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
}
.form-stretch {
	width: 100%;
}
.title-font {
	color: white;
}
.form-pad {
	padding-top: 1em;
}

/* Search results */
.search-form-pad {
	padding-top: 2em;
}
.search-parent {
	padding-top: 1em;
	display: flex;
	flex-wrap: wrap;
}
.search-child {
	flex: 1 0 26%;
	margin: 1em;
	height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: .25em;
	background-color: rgba(94,122,101,1.0);
	padding-left: 1em;
	padding-right: 1em;
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}
.search-box:hover {
	background-color: rgba(94,122,101,0.7);
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
}
.search-crop {
	width: 190px;
	height: 125px;
	overflow: hidden;
	margin-bottom: 0.5em;
	margin-top: 1em;
	border-radius: .25em;
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
.search-img {
	width: 190px;
	height: 142.5px;
}
.search-address {
	color: black;
	width: 190px;
}
.search-address:hover {
	color: black;
	text-decoration: none;
}

/* Styling for property page */
.center-prop {
	width: 85%;
	padding: 2em;
	margin-bottom: 2em;
}
.prop-back {
	border-radius: .25em;
	background-color: rgba(94,122,101,1.0);
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}
.spacer {
	padding-top: 1em;
}
.spacer-2 {
	padding-top: 2em;
}
.spacer-btn {
	margin-top: 1em;
}
@media (max-width: 767px) {
	.spacer-mobile {
		padding-top: 1em;
	}
	.spacer-mobile-2 {
		padding-top: 2em;
	}
}
.prop-row {
	display: flex;
	justify-content: center;
	align-items: center;
}
.prop-img-row {
	display: flex;
	justify-content: center;
	align-items: center;
}
.prop-image {
	width: 380px;
	height: 285px;
}
.prop-img-pad {
	padding: 1em;
}
.prop-crop {
	width: 380px;
	height: 250px;
	overflow: hidden;
	border-radius: .25em;
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}
.no-margin {
	margin-bottom: 0em;
}
.solid-login-btn {
	color: white;
	border-color: white;
}
.solid-login-btn:hover {
	background-color: rgba(255,255,255,0.3);
	border-color: white;
}
.about-link {
	color: white;
	text-decoration: underline;
}
.about-link:hover {
	color: white;
}

/* Login */
.register-link {
	color: white;
	text-decoration: underline;
}
.register-link:hover {
	color: white;
}
.login-form-cont {
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-form-col {
	display: flex;
	align-items: center;
}
.login-form {
	width: 50%;
}
.register-form {
	width: 75%;
}
.input-size {
	width: 100%;
}