{% extends "base.html" %}
{% block content %}
<!-- Intro Text and Search Bar -->
<div class="index-content">
	<div class="index-interior">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="title-font">Here's a sentence about what this is.</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="title-font">What should I write here?</h1>
			</div>
		</div>
		<form class="form-stretch form-pad" action="{{ url_for('search') }}" method="post">
			<div class="form-row">
				<div class="form-group col-md-9">
					<input name="autocomplete" type="text" id="autocomplete" class="form-control input-lg autocomplete" placeholder="Address"/>
				</div>
				<div class="form-group col-md-3">
					<button type="submit" class="btn btn-outline-success tax-submit form-stretch"><h5 class="no-margin">Search</h5></button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}