{% extends "base.html" %}
{% block content %}
<!-- Search Results -->
<div class="center-content">
	<div class="center-prop">
		
		<!-- Row for details and image -->
		<div class="row prop-row">
			<div class="col-md-6 text-center">
				<h2>{{ p.full_location }}</h2>
				<h4>PIN: {{ p.id }}</h4>
				<h4>Township: {{ p.township }}</h4>
				<h4>2019 Tax: <b>${{ '{:,}'.format(p.tax_amount) }}</b></h4>
			</div>
			<div class="col-md-6 prop-img-row spacer-mobile">
				<div class="prop-crop">
					<img src="http://www.cookcountyassessor.com/PropertyImage.aspx?pin={{ p.id }}" class="prop-img">
				</div>
			</div>
		</div>

		{% if savings %}
			<!-- Savings Row and Description if Exists -->
			<div class="row prop-row spacer-3">
				<div class="col-md-4 text-center">
					<h4 class="no-margin">Average Tax</h4>
					<h4>for {{ comps['count_comparable'] }} Similar {% if comps['count_comparable'] > 1 %}Homes{% else %}Home{% endif %}</h4>
					<h4><b>${{ '{:,}'.format(comps['avg_comparable']) }}</b></h4>
				</div>
				<div class="col-md-4 text-center spacer-mobile">
					<h4 class="no-margin">Potential Savings</h4>
					<h4>after Filing an Appeal</h4>
					<h4><b>${{ '{:,}'.format(savings) }}</b></h4>
				</div>
				<div class="col-md-4 text-center spacer-mobile">
					<button class="btn btn-outline-dark"><b>Login to Appeal for Only $10</b></button>
				</div>
			</div>

			<!-- Title for Bottom Section -->
			<div class="row spacer-3">
				<div class="col-md-12 text-center">
					<h4>Why Are My Neighbors Paying Lower Property Taxes?</h4>
				</div>
			</div>

			<!-- Graph and Text -->
			<div class="row prop-row">
				<div class="col-md-6">
					<div class="chart" id="comp-graph">
						<script>
							var graphs = {{ plot|safe }};
							var layout = {{ layout|safe }};
							var settings = {displayModeBar: false, responsive: true};
							Plotly.plot("comp-graph", graphs, layout, settings);
						</script>
					</div>
				</div>
				<div class="col-md-6 text-justify spacer">
					<b><i>What is Lorem Ipsum?</i></b>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<b><i>Where does it come from?</i></b>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
				</div>
			</div>

		{% else %}
			<!-- Explain No Results -->
			<div class="row prop-row spacer-3">
				<div class="col-md-6 text-center">
					<h4 class="no-margin">Not Enough Similar Properties</h4>
					<h4>to Make a Tax Comparison</h4>
				</div>
				<div class="col-md-6 text-center spacer-mobile">
					<button class="btn btn-outline-dark"><b>Create an Account to Get Notified</b></button>
				</div>
		{% endif %}

	<!-- Close out the background div -->
	</div>
</div>
{% endblock %}