{% extends "base.html" %}
{% block content %}
<!-- Search Results -->
<div class="center-content">
		
	<!-- Row for details and image -->
	<div class="center-prop">
		<div class="row prop-row">
			<div class="col-md-6 text-center title-font">
				<h2><b>{{ p.property_location.strip().upper() }}</b></h2>
				<h4><b>{{ p.city.strip().upper() }}, IL</b></h4>
				<h4>PIN: {{ p.id }}</h4>
				<h4>Township: {{ p.township }}</h4>
				<!-- Btn dependent on whether savings are available -->
				{% if savings %}
					{% if current_user.is_authenticated %}
						<button class="btn btn-outline-dark solid-login-btn spacer-btn"><h5 class="no-margin">Start Your Appeal</h5></button>					
					{% else %}
						<a href="{{ url_for('login_user', prop_id=p.id )}}">
							<button class="btn btn-outline-dark solid-login-btn spacer-btn"><h5 class="no-margin">Login to Appeal</h5></button>
						</a>
					{% endif %}
				{% else %}
					{% if current_user.is_authenticated %}
						<button class="btn btn-outline-dark solid-login-btn spacer-btn"><h5 class="no-margin">Sign Up to Receive Updates</h5></button>					
					{% else %}
						<a href="{{ url_for('login_user', prop_id=p.id )}}">
							<button class="btn btn-outline-dark solid-login-btn spacer-btn"><h5 class="no-margin">Login to Receive Updates</h5></button>
						</a>
					{% endif %}					
				{% endif %}
			</div>
			<div class="col-md-6 prop-img-row spacer-mobile-2">
				<div class="prop-back prop-img-pad">
					<div class="prop-crop">
						<img src="http://www.cookcountyassessor.com/PropertyImage.aspx?pin={{ p.id }}" class="prop-img">
					</div>
				</div>
			</div>
		</div>
	</div>

	{% if savings %}
		<!-- Savings Row and Description if Lower Properties Exist -->
		<div class="center-prop prop-back">
			<div class="row prop-row">
				<div class="col-md-12 text-center spacer-mobile">
					<h4><i>We Recommend Filing an Appeal!</i></h4>
				</div>
			</div>
			<div class="row prop-row spacer">
				<div class="col-md-4 text-center spacer-mobile">
					<h4 class="no-margin">Estimated Tax</h4>
					<h4>in 2019</h4>
					<h4><b>${{ '{:,}'.format(p.tax_amount) }}</b></h4>
				</div>
				<div class="col-md-4 text-center spacer-mobile">
					<h4 class="no-margin">Average Tax</h4>
					<h4>for {{ comps['count_comparable'] }} Similar {% if comps['count_comparable'] > 1 %}Homes{% else %}Home{% endif %}</h4>
					<h4><b>${{ '{:,}'.format(comps['avg_comparable']) }}</b></h4>
				</div>
				<div class="col-md-4 text-center spacer-mobile">
					<h4 class="no-margin"><i>Potential Savings</i></h4>
					<h4><i>after Filing an Appeal</i></h4>
					<h4><b>${{ '{:,}'.format(savings) }}</b></h4>
				</div>
			</div>
		</div>

		<!-- Title for Bottom Section -->
		<div class="center-prop">
			<div class="row">
				<div class="col-md-12 text-center title-font">
					<h4>Why Are My Neighbors Paying Lower Property Taxes?</h4>
				</div>
			</div>

			<!-- Graph and Text -->
			<div class="row prop-row">
				<div class="col-md-7">
					<div class="chart" id="comp-graph">
						<script>
							var graphs = {{ plot|safe }};
							var layout = {{ layout|safe }};
							var settings = {displayModeBar: false, responsive: true};
							Plotly.plot("comp-graph", graphs, layout, settings);
						</script>
					</div>
				</div>
				<div class="col-md-5 text-left spacer title-font">
					<h5><i>What is Lorem Ipsum?</i></h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					<h5><i>Where does it come from?</i></h5>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
					<div class="text-center">
						<a href="{{ url_for('about') }}">
							<button class="btn btn-outline-dark solid-about-btn spacer-btn"><p class="no-margin">Learn More about Property Taxes</p></button>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Appeal Action -->
		<div class="center-prop prop-back">
			<div class="row prop-row">
				<div class="col-md-12 spacer-mobile text-center">
					<h4>How Does Filing an Appeal Lower My Tax Bill?</h4>
					<p class="spacer">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
					{% if current_user.is_authenticated %}
						<button class="btn btn-outline-dark solid-login-btn spacer-btn"><h5 class="no-margin">Start Your Appeal</h5></button>					
					{% else %}
						<a href="{{ url_for('login_user', prop_id=p.id )}}">
							<button class="btn btn-outline-dark solid-login-btn spacer-btn"><h5 class="no-margin">Login to Appeal</h5></button>
						</a>
					{% endif %}
				</div>
			</div>
		</div>

	{% else %}
		<!-- Explain No Results -->
		<div class="center-prop prop-back">
			<div class="row prop-row">
				<div class="col-md-12 text-center spacer-mobile">
					<h4><i>Your Property's Tax Bill is Similar to Your Neighbors'</i></h4>
				</div>
			</div>
			<div class="row prop-row spacer">
				<div class="col-md-4 text-center spacer-mobile">
					<h4 class="no-margin">Estimated Tax</h4>
					<h4>in 2019</h4>
					<h4><b>${{ '{:,}'.format(p.tax_amount) }}</b></h4>
				</div>
				<div class="col-md-8 text-center spacer-mobile">
					<h5 class="no-margin">We only recommend using our service if our algorithm can find similar properties with lower tax bills, which justify an appeal. Sign up to receive an email update if your neighbors' tax bills decrease and <a href="{{ url_for('about') }}" class="about-link">learn more</a> about property taxes.</h5>
				</div>
			</div>
		</div>
	{% endif %}

<!-- Close out the background div -->
</div>
{% endblock %}