{% extends "base.html" %}
{% block content %}
<!-- Search Results -->
<div class="center-content">
	<div class="center-small">
		<div class="row title-index-space">
			<div class="col-md-12 text-center">
				<h1 class="primary-font primary-font-color">Search Results</h1>
				<h4 class="no-margin-btm">Showing Addresses Similar to <i>{{ search_term }}</i></h4>
			</div>
		</div>

		<!-- Iterate with Results -->
		<div class="search-parent">
			{% for p in possible %}
				<div class="search-child text-center">
					<a href="{{ url_for('prop', prop_id=p['id']) }}" class="dark-font-color">
						<div class="search-box">
							<div class="search-crop">
								<img src="http://www.cookcountyassessor.com/PropertyImage.aspx?pin={{ p['id'] }}" class="search-img">
							</div>
							<h6 class="primary-font">{{ p["address"] }}</h6>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>

		<!-- Search Again -->
		<div class="row title-large-space">
			<div class="col-md-12 text-center">
				<h3 class="no-margin-btm">Don't See Your Property?</h3>
				<h3>Try Searching for Only the Number and Street.</h3>
				<form class="form-stretch form-pad" action="{{ url_for('search') }}" method="post">
					<div class="form-row">
						<div class="form-group col-md-9">
							<input name="autocomplete" type="text" id="autocomplete" class="form-control input-lg autocomplete-index" placeholder="Address"/>
						</div>
						<div class="form-group col-md-3">
							<button class="btn btn-outline-success primary-btn-color content-btn"><h5 class="no-margin-btm">Search Again</h5></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}